<p>Type the ID of a Flickr user to see their photos.</p>
<p>The Flickr User ID can be found by navigating to the “You” page on Flickr.
The ID is the string found after <code>https://www.flickr.com/photos/</code> on the “You” page.
For example, <code>196350904@N06</code>.
</p>
<%= form_with method: :get do |form| %>
  <%= form.label :flickr_user_id, 'Flickr User ID:'%>
  <%= form.text_field :flickr_user_id, value: @flickr_user_id %>
  <%= form.submit 'See Photos' %>
  <%= flash[:flickr_user_error] %>
<% end %>

<p>Alternatively: <%= link_to 'See Random Recent Photos from Flickr', static_pages_path(get_recent: true) %></p>

<% if @photos %>
  <div class="photo-with-arrows">
    <div class="arrow previous hidden-with-space"><</div>
    <div class="photos">
      <% @photos.each_with_index do |photo, i| %>
        <div class="photo <%= i == 0 ? '' : 'hidden' %>" id="photo<%= i %>">
          <%= image_tag Flickr.url(photo) %>
        </div>
      <% end %>
    </div>
    <div class="arrow next <%= @photos.length == 1 ? 'hidden' : '' %>">></div>
  </div>
<% end %>
